<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link_to link.user.name, profiles_path(link.user.name) %></small>
    </h2>
  </div>

  <div class="btn-group">
    <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
    <%= link_to like_link_path(link), method: :put, remote: true, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <div style="display:inline-block;" id=<%= 'upvote_' + link.id.to_s %>>
        <%= link.get_upvotes.size %>
      </div>
    <% end %>
    <%= link_to dislike_link_path(link), method: :put, remote: true, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Downvote
      <div style="display:inline-block;" id=<%= 'downvote_' + link.id.to_s %>>
        <%= link.get_downvotes.size %>
      </div>
    <% end %>
  </div>
<% end %>
